.wrapper {

}

.my-photo-section {
    display: flex;
}

.my-photo-section .info-txt {
    padding: 10px;
}

.my-photo-section .photo {
    padding: 10px;
}

@media screen and (max-device-width: 767px) {
    .my-photo-section {
        display: flex;
        flex-direction: column;
    }
}